@import 'https://fonts.googleapis.com/css?family=Delius';

@font-face {
  font-family: 'Comic';
  src: local('Comic'), url(./fonts/COMIC.TTF) format('tff');
}

.App {
  text-align: center;
}

.comic {
  font-family: 'Comic Sans MS', 'Comic Sans', 'Comic', 'Delius', sans-serif;
}

.projects-page {
  height: 1px;
}

.about-header {
  font-size: 2.5em;
  color: teal;
  animation: spin infinite 5s linear;
}

.header {
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  font-size: 3.0em;
  height: 100px;
  animation: color infinite 5s linear;
}

.links {
  font-size: 3em;
  margin: 0 auto;
  width: 40%;
  list-style: none;
}

.links:hover {
  cursor: pointer;
}

.links li {
  margin-right: 40px;
  text-decoration: underline;
  color: purple;
}

.about-me:before {
  background-image: url(./images/man.png);
}

.projects:before {
  background-image: url(./images/paint.png);
  width: 25px;
}

.resume:before {
  background-image: url(./images/letter.png);
}

.scroll {
  color: blue;
  font-style: Papyrus;
  padding: 80px 20px;
  height: 484px;
  width: 560px;
  background-image: url(./images/scroll.gif);
  background-size: cover;
  margin: 40px auto;
}

.scroll-content {
  margin: 30px 70px;
  text-align: left
}

.browser {
  margin: 5px 5px 15px 5px;
  width: 110px;
  display: inline-block;
}

li:before {
  content: '';
  display: inline-block;
  height: 25px;
  width: 20px;
  margin-right: 12px;
  background-size: cover;
}

.back {
  position: absolute;
  left: 80px;
  margin: 50px 0;
  background-color: transparent;
  border: none;
  color: purple;
  font-size: 1.4em;
  text-decoration: underline;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.left {
  float: left;
}

footer {
  font-family: serif;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 15px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes color {
  0%   {color: teal;}
  25%  {color: cyan;}
  50%  {color: orange;}
  100% {color: purple;}
}

/*GOOD PHONES*/
@media (max-width: 767px) {
  .about-header{
    font-size: 1.5em;
  }
  .scroll {
    padding: 40px 10px;
    height: 242px;
    width: 280px;
  }
  .scroll-content {
    margin: 15px 30px;
  }
  .header {
    font-size: 2.0em;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  .back {
    left: 20px;
    margin: 10px 0;
    font-size: 1.0em;
  }
  .links {
    font-size: 2.4em;
    width: 70%;
  }
  .links li {
    margin-bottom: 10px;
  }
  .browser {
    margin: 2px;
    width: 91px;
  }
  .counter {
    width: 35%;
  }
}

/* IPHONE 5 */
@media (max-width: 358px) {
  .links {
    font-size: 1.8em;
  }
}
