@import 'https://fonts.googleapis.com/css?family=Delius';

@font-face {
  font-family: 'Comic';
  src: local('Comic'), url(./fonts/COMIC.TTF) format('tff');
}

.App {
  text-align: center;
}

.home {
  font-family: 'Comic Sans MS', 'Comic Sans', 'Comic', 'Delius', sans-serif;
  border: solid 1px red;
}

.header {

  text-decoration: underline;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  font-size: 3.0em;
  height: 100px;
  animation: color infinite 5s linear;
  border: solid 1px red;
}

.links {
  font-size: 2em;
  margin: 0 auto;
  border: solid 1px red;
  width: 25%;
  list-style: none;
}

.links li {
  margin-right: 25px;
}

li:before {
  content: '';
  display: inline-block;
  height: 25px;
  width: 20px;
  margin-right: 12px;
  background-image: url(./images/letter.png);
  background-size: cover;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border: solid 1px red;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes color {
  0%   {color: red;}
  25%  {color: teal;}
  50%  {color: orange;}
  100% {color: purple;}
}

/*GOOD PHONES*/
@media (max-width: 767px) {
  .header {
    font-size: 2.0em;
  }
}

/* IPHONE 5 */
@media (max-width: 358px) {

}
