@import 'https://fonts.googleapis.com/css?family=Delius';

@font-face {
  font-family: 'Comic';
  src: local('Comic'), url(./fonts/COMIC.TTF) format('tff');
}

.App {
  text-align: center;
}

.home {
  font-family: 'Comic Sans MS', 'Comic Sans', 'Comic', 'Delius', sans-serif;
}

.header {
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  font-size: 3.0em;
  height: 100px;
  animation: color infinite 5s linear;
}

.links {
  font-size: 3em;
  margin: 0 auto;
  width: 50%;
  list-style: none;
}

.links:hover {
  cursor: help;
}

.links li {
  margin-right: 40px;
  text-decoration: underline;
  color: purple;
}

.about-me:before {
  background-image: url(./images/man.png);
}

.projects:before {
  background-image: url(./images/paint.png);
  width: 25px;
}

.resume:before {
  background-image: url(./images/letter.png);
}

.netscape {
  background-image: url(./images/netscape.png);
}

.ie {
  background-image: url(./images/ie.png);
}

.browser {
  margin: 5px 5px 15px 5px;
  width: 110px;
  height: 39px;
  display: inline-block;
  background-size: cover;
}

li:before {
  content: '';
  display: inline-block;
  height: 25px;
  width: 20px;
  margin-right: 12px;
  background-size: cover;
}

.back {
  float: left;
  margin: 50px;
  background-color: transparent;
  border: none;
  color: purple;
  font-size: 1.4em;
}

footer {
  font-family: serif;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 15px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes color {
  0%   {color: teal;}
  25%  {color: cyan;}
  50%  {color: orange;}
  100% {color: purple;}
}

/*GOOD PHONES*/
@media (max-width: 767px) {
  .header {
    font-size: 2.0em;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  .links {
    font-size: 2.4em;
    width: 70%;
  }
  .links li {
    margin-bottom: 10px;
  }
  .browser {
    margin: 2px;
    width: 91px;
    height: 32px;
  }
  .counter {
    width: 35%;
  }
}

/* IPHONE 5 */
@media (max-width: 358px) {
  .links {
    font-size: 1.8em;
  }
}
