body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  background-color: #2F2727;
  background-position: center center;
  background-repeat: no-repeat;
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#5FCFE7), to(#C5FF73));
  background: -webkit-radial-gradient(circle, #5FCFE7, #C5FF73);
  background: -moz-radial-gradient(circle, #5FCFE7, #C5FF73);
  background: -ms-radial-gradient(circle, #5FCFE7, #C5FF73);
}
