@import 'https://fonts.googleapis.com/css?family=Cantarell:700i';

.projects-container {
  background-color: #fff;
  margin: 0 100px;
}

.screenshot {
  width: 300px;
}

.project {
  display: inline-block;
  margin: 10px;
  background-color: silver;
  padding: 5px;
}

.logo {
  display: inline-block;
  width: 40px;
}

.title {
  font-size: 25px;
  background-color: white;
}

.cant {
  font-family: 'Cantarell', sans-serif;
}
